.jumbotron {
    background-image: url("./Visuels/header_home.png");
}

.row {
    padding-left: 25rem;
    padding-right: 25rem;
    flex-basis: min-content;
    height: 10rem;
}

.header_title {
    text-align: center;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    height: 18em
}

.header_logos {
    max-width: 60px;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 10px;
    line-height: 1;
}


/* STYLE FONTS & TEXTES */

h1,
.uppercase {
    text-transform: uppercase;
}

h1 {
    font-size: 5em;
    color: #fff;
    font-weight: 700;
    padding: 2.5rem 0;
    line-height: 1.2rem;
    text-align: center;
    word-break: break-all;
}

h2 {
    font-weight: 700;
    color: #e41248;
    line-height: 1, 2.em;
    max-width: 70%;
    font-size: 1.5rem;
}

a {
    color: #e41248;
    font-weight: 700;
    text-decoration: underline;
}

a:hover {
    color: #b50e39
}

.chapo {
    text-align: center;
    max-width: 40%;
    margin: 0 auto;
    padding: 3em 0;
    font-size: 120%;
}

p {
    font-size: 1.8em;
}


/* STYLE HEADER */

.header_logo img {
    padding-left: 25em;
    height: 8em;
}


/*STYLE CARD CONTAINER */

.card_container {
    display: flex;
    justify-content: center;
    padding: 3em;
    margin-bottom: 8em;
}


/*responsive - quand l'écran devient trop petit, les cartes s'alignent en colonne*/

@media only screen and (max-width:768px) {
    .card__container {
        flex-direction: column;
        align-items: center
    }
}

.card {
    box-sizing: border-box;
    margin: 1em;
    flex: 0 0 auto;
    border-radius: .8em;
    width: 33.33%;
    padding: 4em;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
}


/*responsive - taille des cartes selon la taille de l'écran*/

@media only screen and (max-width:1024px) {
    .card {
        width: 80%
    }
}

@media only screen and (min-width:1025px) {
    .card {
        max-width: 45em
    }
}

.card img {
    margin-bottom: 4em;
    height: 10em;
}

.card h3 {
    text-align: left;
    padding: 2em 0;
    flex: 1;
}

.card,
.button {
    margin-top: 2em;
}

.button,
.button:hover {
    background: #e41248;
    box-shadow: 0 .3em .8em rgba(5, 5, 5, .16);
    border-radius: 1em;
    padding: 1.5em 2em;
    color: #fff;
    font-size: 2em;
    text-decoration: none;
    text-align: center;
    line-height: 1em;
    max-width: 28.2em;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    font-weight: 700;
}


/*Survol du bouton*/

.button:hover {
    cursor: pointer;
}


/* STYLE CONTENT */

.content {
    padding: 0 4em 4em;
}

.content h2 {
    text-align: center;
    margin-bottom: 30px;
    max-width: 120em;
    margin-left: auto;
    margin-right: auto;
}

.content_description {
    max-width: 80em;
    margin: 0 auto;
    font-size: 1.2em;
}

.content ul {
    list-style: none;
    margin: 4em 0;
    padding-left: 2.8em;
    font-size: 1.8em;
}

.content ul li:before {
    content: "\2022";
    /*CSS Code/unicode for a bullet */
    color: #e41248;
    font-weight: 700;
    display: inline-block;
    width: 1em;
    margin-left: -.8em;
    vertical-align: middle;
    font-size: 1.8em;
    /* taille des bullets */
}


/*STYLE POLYGONES */

.polygones {
    margin-bottom: 4em;
}

.polygones h2 {
    text-align: center;
    margin-bottom: 3em;
}

.polygones_content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.polygone_identite {
    background-image: url("./Visuels/polygone_identite.svg");
}

.polygone_defi {
    background-image: url("./Visuels/polygone_defi.svg");
}

.polygone_pari {
    background-image: url("./Visuels/polygone_pari.svg");
}

.polygone_identite,
.polygone_defi,
.polygone_pari {
    background-size: contain;
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 41.7em;
    height: 34.9em;
    padding: 10.2em;
}

.polygones h3 {
    font-weight: 700;
    margin-bottom: 1em;
    font-size: 2.8em;
}

@media only screen and (max-width:1268px) {
    .polygones__content {
        flex-direction: column
    }
}


/*HALFSPLIT*/

.halfsplit {
    display: flex;
    background-color: #e2e5e7;
}

.halfsplit_content_inner {
    margin: 15% 10%;
}

.halfsplit_content_inner p {
    line-height: 1.2em;
}

.halfsplit_content_inner br,
h2 {
    margin-bottom: 20px;
}


/* CONTACT */

.contact {
    margin: 8rem 0;
}

.contact_header {
    padding: 1rem 0;
    text-align: center;
    background: linear-gradient(0deg, transparent 50%, transparent 0), linear-gradient(180deg, transparent 50%, #fbfafa 0);
    margin: 0;
    border: 0;
    font: inherit;
}

.contact__avatar {
    height: 9rem;
    width: 9rem;
    border-radius: 50%;
    overflow: hidden;
    box-sizing: border-box;
    margin: -5rem;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

.contact_content {
    text-align: center;
    margin: -2rem;
}


/* FOOTER PARTENAIRE */

.partenaires {
    margin-top: 5rem;
    text-align: center;
}

.partenaires_2 .partenaires_2_ministère .partenaires_3
/*FOOTER */

.footer {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.footer_h2 {
    font-size: 2rem;
    color: #fff;
    margin-left: 4em;
    margin-bottom: 1em;
}